
<div style="text-align: center;">
  <div class="row">
<div class="col-md-6">
  <app-image-viewer></app-image-viewer>
</div>
  <div class="col-md-6">
    <div class="table-cont">
    <table class="table table-bordered bg-white">
    <thead>
    <tr>
    <th colspan="2">
    <h4 class="tech">Teknik Özellikler</h4>
    </th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <th scope="row">Marka</th>
    <td>{{ item.brandName }} </td>
    </tr>


    <tr>
    <th scope="row">Yakıt Tipi</th>
    <td> {{item.fuelTypeName}}</td>
    </tr>
    <tr>
    <th scope="row">Vites Tipi</th>
    <td> {{item.gearTypeName}} </td>
    </tr>

    </tbody>
    </table>
    </div>
    </div>
</div>
</div>
